<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1026422983295-2hei3a0v5u1lhp7fkn0253o7127q5ga2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026422983295-2hei3a0v5u1lhp7fkn0253o7127q5ga2</string>
	<key>API_KEY</key>
	<string>AIzaSyAKk4W4m8kaleyuruapQkdfMr3s3ftGhqU</string>
	<key>GCM_SENDER_ID</key>
	<string>1026422983295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vaavud.Vaavud</string>
	<key>PROJECT_ID</key>
	<string>vaavud-app</string>
	<key>STORAGE_BUCKET</key>
	<string>vaavud-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026422983295:ios:86d2b706f72da913</string>
	<key>DATABASE_URL</key>
	<string>https://vaavud-app.firebaseio.com</string>
</dict>
</plist>